<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr> 
                    <th>Emp Id</th>
                    <th>Emp Name</th>
                    <th>Emp Add</th>
                    <th>Emp Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{items[2]?.id}}</td>
                    <td>{{items[2]?.name}}</td>
                    <td>{{items[2]?.add}}</td>
                    <td>{{items[2]?.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
